@font-face
    font-family Roobert
    font-weight normal
    src url('/Roobert-Regular.woff2') format('woff2')

@font-face
    font-family Roobert
    font-weight bold
    src url('/Roobert-Bold.woff2') format('woff2')

@font-face
    font-family Roobert
    font-weight 600
    src url('/Roobert-SemiBold.woff2') format('woff2')

body
    font-family Roobert, Helvetica Neue, Helvetica, Arial, sans-serif
    color #dedee3
    background #0e0e10
    font-size 12px
    display flex
    flex-direction column
    align-items center
    margin 0
    border none
    padding 0
    line-height 1.5

main
    user-select none

section
    width 100%
    max-width 640px

footer
    font-size 10px
    color #889
    margin-top 20px

*
    box-sizing border-box

input
select
    background-color hsla(0, 0, 100%, 0.15)
    border none
    border-radius 4px
    color #dedee3
    font inherit
    flex 1 1 auto
    line-height normal

select
    padding 4px 10px

input
    width 0
    padding 5px 10px

input[type='number']
    width 55px

input[type='color']
    padding 0 5px

input:active
input:focus
select:active
select:focus
    background black

audio
    width 202px
    height 25px

hr
    margin 0 -8px 4px
    border none
    border-bottom 1px solid hsla(0, 0, 100%, 0.1)

b
    color var(--accent-color)
    user-select text

a
    color var(--accent-color)
    text-decoration none

.draggable
    position relative
    margin-bottom 16px

.draggable.dragging
    opacity 0.5

.dragger
    position absolute
    top -9px
    right 0
    left 13px
    height 20px

.Logo
    width 28px
    height 28px
    vertical-align text-top

.PanelHeader
    font-size 24px
    margin-bottom 5px

.PanelGroup
    position relative
    border 1px solid #303032
    border-radius 6px
    background #18181b
    margin 0
    padding 8px
    padding-top 12px

.PanelGroup > .legend
    position absolute
    top -9px
    padding-left 5px
    color var(--accent-color)
    font-weight bold

.PanelGroup > .opener
    display flex
    justify-content center
    align-items center
    position absolute
    left -9px
    top -9px
    width 17px
    height 17px
    background #0e0e10
    border-radius 5px
    border 1px solid #303032
    cursor default

.PanelGroup > .opener::before
    position relative
    top -1px
    content '+'

.PanelGroup > .opener.open::before
    content '-'

.PanelField
.field
    display flex
    margin-bottom 4px
    align-items baseline
    flex-wrap wrap

.PanelField > .label
    display flex
    flex 0 0 110px
    font-weight bold
    align-items baseline

.PanelField > .body
    display flex
    flex 1 0 0%
    align-items baseline

.PanelField:last-child
.field:last-child
    margin-bottom 0

.Button
button
    border-radius 4px
    border none
    padding 5px 10px
    background-color hsla(0, 0, 100%, 0.15)
    color #efeff1
    font-size 12px
    font-weight bold
    font-family inherit
    cursor pointer
    text-decoration none
    line-height normal

.Button.primary
button.primary
    background-color var(--muted-color)

.Button:hover
button:hover
    background-color hsla(0, 0, 100%, 0.2)

.Button.primary:hover
button.primary:hover
    background-color var(--accent-color)

.Toggle
    display inline-block
    height 25px
    width 50px
    border-radius 50px
    background-color hsla(0, 0, 100%, 0.25)
    position relative
    padding 2px
    color transparent
    cursor pointer

.Toggle::after
    position absolute
    width 21px
    height 21px
    content ''
    background-color white
    border-radius 50%
    left 2px
    transition left 0.1s ease-in

.Toggle.active
    background-color var(--muted-color)

.Toggle.active::after
    left calc(100% - 24px)

.Info
.Warning
    display inline-flex
    position relative
    top -4px
    white-space nowrap

.Info > i
.Warning > i
    margin-left 4px

.Info
    color var(--muted-color)

.Info:hover
    color var(--accent-color)

.Warning
    color hsl(45, 100%, 50%)

.Warning:hover
    color hsl(45, 100%, 80%)

.spacer
    flex 1 1 auto

.QueuedEvent
.QueuedMode
.QueuedVod
    margin-bottom 5px
    padding 5px
    background #3a3a3d
    border 1px solid #303032
    border-radius 6px

.QueuedEvent:last-child
.QueuedMode:last-child
.QueuedVod:last-child
    margin-bottom 0

.TagList
    display flex
    flex-direction column
    flex 1 0 0%

.list
    display flex
    flex-wrap wrap

.Tag
    display flex
    font-size 11px
    padding 2px 6px 2px 10px
    margin-right 5px
    margin-top 5px
    background-color hsla(0, 0, 100%, 0.15)
    font-weight bold
    border-radius 16px
    cursor pointer

.Tag:hover
    background-color hsla(0, 0, 100%, 0.2)

.Tag::after
    position relative
    top -1px
    content '🗙'
    font-size 10px
    font-weight normal
    padding-left 2px

.TabSet
    display flex
    border 1px solid #303032
    border-radius 3px
    overflow hidden
    color #efeff1
    font-size 12px
    font-weight bold
    margin-bottom 15px

.Tab
    flex 1 1 0%
    padding 4px
    text-align center
    cursor pointer
    line-height normal
    background-color hsla(0, 0, 100%, 0.1)
    border-right 1px solid #303032

.Tab:last-child
    border-right 0

.Tab:hover
    background-color hsla(0, 0, 100%, 0.2)

.Tab.active
    background-color hsla(0, 0, 100%, 0.3)

.Overlay
    display flex
    flex-direction column
    align-items flex-start

.ExternalIcon
    display inline-flex
    align-self normal
    justify-content center
    align-items center

.ExternalIcon[data-size='1']
    width 28px
    height 28px

.ExternalIcon[data-size='1'] > img
    max-height 30px

.ExternalIcon[data-size='2']
    width 56px
    height 56px

.ExternalIcon[data-size='2'] > img
    max-height 64px

.ExternalIcon[data-size='3']
    width 112px
    height 112px

.ExternalIcon[data-size='3'] > img
    max-height 128px

.ExternalIcon > .Icon
    position relative

.ExternalIcon[data-size='1'] > .Icon
    font-size 22px
    top 1px

.ExternalIcon[data-size='2'] > .Icon
    font-size 44px
    top 2px

.ExternalIcon[data-size='3'] > .Icon
    font-size 88px
    top 4px

.ExternalIconPicker
    display flex
    flex 1 0 auto

.ChangelogOpener
    position fixed
    top 0
    right 0
    padding 2px 4px
    background-color hsla(0, 0, 100%, 0.15)

.ChangelogOpener:hover
    background-color hsla(0, 0, 100%, 0.2)

.ChangelogCloser
    cursor pointer
    position absolute
    width 30px
    height 30px
    font-size 24px
    top 8px
    right 10px

.ChangelogOverlay
    display flex
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    background-color rgba(0, 0, 0, 0.5)
    z-index 99999

.Changelog
    margin auto
    position relative
    border 1px solid #303032
    border-radius 6px
    background #18181b
    width 320px

.Changelog > h1
    margin 0
    padding 8px

.ChangelogVersion
    padding 4px
    margin 4px

.ChangelogVersion.new
    border 1px solid var(--accent-color)
    border-radius 8px

.ChangelogVersion ul
    margin 0
    padding-left 20px