@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap')

body
    background gray
    font-size 24px
    font-weight bold
    font-family 'Sniglet', cursive
    color white
    text-shadow 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black
    align-items flex-start
    padding 5px

main
    display contents

.Mode
    display flex
    align-items center
    border-radius 28px
    background rgba(0, 0, 0, 0.25)
    padding-left 5px
    padding-right 15px
    overflow hidden
    margin 0

.Mode.t-enter
html .Mode.t-exit-active
.Mode.t-exit-done
    opacity 0
    height 0
    margin-bottom 0
    transform translate(-200px)

.Mode
html .Mode.t-enter-active
.Mode.t-enter-done
.Mode.t-exit
    opacity 1
    height 56px
    margin-bottom 5px
    transform translate(0)

.Mode.t-enter-active
.Mode.t-exit-active
    transition all 500ms ease-in-out

b
    font-size 32px