extends layout

block vars
    - title = channel

append head
    script(src="/react.development.js")
    script(src="/react-dom.development.js")
    script.
        var CHANNEL_NAME = "#{channel}";
        var REFRESH_TIME = #{refreshTime};
    script(src=`/channel.js?refresh=${refreshTime}`)

block body
    #app
        span Loading...
