extends layout

block vars
    - title = 'Cheers Bot - ' + channel

append head
    script(src="/react.development.js")
    script(src="/react-dom.development.js")
    script.
        let CHANNEL_NAME = "#{channel}"
        let REFRESH_TIME = #{refreshTime}
    script(src=`/channel.js?refresh=${refreshTime}`)

block body
    #app
        span Loading...
