extends layout

block vars
    - title = 'FAQ | Cheers Bot'

block body
    ul
        li: a(href="#general") General
        li: a(href="#setup") Setup
        li: a(href="#controlpanel") Control Panel
        li: a(href="#twitch") Twitch
        li: a(href="#vtubestudio") VTube Studio
        li: a(href="#privacy") Privacy and Security

    h3#general General

    b What is the Cheers Bot?
    blockquote The Cheers Bot is a web-based control panel and browser source-based streaming overlay that enables streamers to add interactivity to their streams when viewers perform actions in their channel, most notably redeeming channel point rewards.
    b What is the Cheers Bot control panel?
    blockquote The control panel is this website, which allows you to customize the various features of the Cheers Bot for your channel and control features that require manual input, such as starting timers. It is mobile-friendly and designed to be used in small windows, so you should be able to use it on whatever device or browser layout is most convenient. You do not need to have the control panel open while streaming to use the Cheers Bot's features, although it is recommended.
    b What is the Cheers Bot stream overlay?
    blockquote The stream overlay is a web page designed to be added as a browser source within streaming software such as OBS or Streamlabs OBS. The overlay displays ongoing timers, counters, messages, and more, and must be open in your streaming software to use some features of Cheers Bot.
    b Is Cheers Bot a chat bot, like Streamlabs, StreamElements, or Nightbot?
    blockquote Cheers Bot does have a chat bot named HeccinCheersBot that will join your channel chat in order to listen for certain chat commands. However, most Cheers Bot functionality does not depend on chat and will work even if the bot is removed from your channel. You can also link your own account to use as a chat bot if you would prefer to use your channel account or another account you control.
    b How much does Cheers Bot cost?
    blockquote The Cheers Bot is currently free for all users. Operating costs have been reasonably low so far, so I haven't needed to ask for a subscription service or any other type of revenue. However, if Cheers Bot is helpful to you, consider <a href="https://streamlabs.com/hawkbar/tip">donating</a> to help cover hosting costs!
    b What streaming platforms are integrated with Cheers Bot?
    blockquote Currently, only Twitch. YouTube support may come in a future release, but I do not feel that YouTube streams provide good mechanisms for interactivity, and the development effort would be significant.
    b Are there any other tools or services integrated with Cheers Bot?
    blockquote The Cheers Bot has integrations with VTube Studio, FrankerFaceZ, and BetterTwitchTV. I am always open to suggestions for other potential integrations, although it greatly depends on if the other service provides a publicly available API that Cheers Bot can talk to.
    b Where can I see what features are coming in future updates?
    blockquote There is no publicly accessible roadmap for Cheers Bot. If there's a feature you'd like to see, please message me on <a href="https://twitter.com/HawkbarGaming/">Twitter</a> or <a href="https://discord.gg/ShtHbSme6w">Discord</a> so I can track the number of users interested in each feature!
    b I ran into a bug, how do I report it?
    blockquote Please message me on <a href="https://twitter.com/HawkbarGaming/">Twitter</a> or post in the <a href="https://discord.gg/ShtHbSme6w">Discord</a> and I'll do my best to help!


    h3#setup Setup

    b How do I create an account?
    blockquote Click the "Connect Channel Account" and "Connect User Account" buttons on the homepage, and accept the permissions prompt from Twitch.
    b I linked my channel but I don't see a way to access my control panel anywhere?
    blockquote You also need to link your account as a user account. This may seem redundant, but it allows you to give access to moderator accounts that don't want to link their accounts for streaming.
    b I've clicked the button to connect my user/channel/bot account but I don't get redirect and nothing loads?
    blockquote Try disabling your adblocker and any other anti-tracking extensions and try again. The Cheers Bot does not and will never have ads or ad-related tracking scripts, and these have been known to interfere with the Twitch login process.
    b Where do I find the URL for the stream overlay browser source?
    blockquote Under the 'Control Panel' tab of your channel's control panel, find the 'User and Channel Info' module section. Under the field 'Overlay URL', click the Copy button to copy the URL to your clipboard, and then paste it into the browser source settings in your streaming software.
    b What settings should I use for the browser source?
    blockquote Use whatever width and height you want, based on the number of messages you want to be visible and how wide you want them to cover. Text may get cut off if the size is too small. I also highly recommend you check the 'Shutdown source when not visible' and 'Control audio via OBS' settings, if using OBS or Streamlabs OBS.

    h3#controlpanel Control Panel

    b Can I hide modules that I'm not using?
    blockquote Yes. Module panels can be dragged and rearranged or minimized by clicking and dragging on the top part of each panel, and you can hide all of a module's settings by unselecting the 'Enabled' toggle of a module under the 'Configuration' tab.
    b How do I create redeems?
    blockquote Channel point rewards are configured in your Twitch channel settings and will then be available to select in your control panel after a page refresh.
    b Can I have multiple modules (sounds, counters, model swaps, etc.) trigger from the same redeem?
    blockquote Yes. Just select the same redeem in the dropdowns for each module.
    b What determines which emotes are available to select?
    blockquote Emotes are pulled from your Twitch account's currently active emotes and channel badges; emotes for your channel registered in FrankerFaceZ or BetterTwitchTV; global emotes and badges for Twitch, FFZ, and BTTV; and a fixed set of social media icons. The emote list only refreshes every couple of hours, so if an emote meets one of those criteria and isn't showing up, try forcibly reloading the list using the button at the bottom of the emote selection window.

    h3#twitch Twitch

    b Do I need a Twitch account to use Cheers Bot?
    blockquote Yes. Logging into Cheers Bot is done using Twitch accounts, and that is not likely to change.
    b Can Cheers Bot mess with my Twitch channel?
    blockquote When you connect Cheers Bot to your Twitch channel, Twitch will show you a list of permissions that you grant to the Cheers Bot. It does request some moderator-level access permissions, but these are only for detecting if users are banned or timed out, and won't be used to affect your stream.
    b Does Cheers Bot support triggers other than channel point reward redemptions, such as bits, gift subs, or follows?
    blockquote Some of these options are currently implemented, but are considered to be 'beta' features, and may have occasional issues.
    b My redeems work when I test them from the control panel but not when they get redeemed on Twitch. What gives?
    blockquote As a security measure, Twitch will sometimes stop talking to apps like the Cheers Bot if it's been too long since you last connected the app. To fix this, log out of the Cheers Bot from the <a href="https://cheers.hawk.bar">home page</a> and then click 'Connect Channel Account' to reconnect your channel to Twitch.

    h3#vtubestudio VTube Studio

    b What is VTube Studio?
    blockquote <a href="https://denchisoft.com/">VTube Studio</a> is an app for Virtual YouTubers that makes it easy and fun to bring your own Live2D models to life. It displays user-imported Live2D avatars and synchronizes them with movements from webcams or other tracking sources, as well as other features.
    b How does Cheers Bot integrate with VTube Studio?
    blockquote Cheers Bot uses VTube Studio's plugin API to create a link between Twitch and VTube Studio. Cheers Bot users can trigger hotkeys, swap between avatars, and apply color tinting to avatars in VTube Studio whenever certain channel point rewards are redeemed through Twitch.
    b Do I need to install anything to use Cheers Bot with VTube Studio?
    blockquote You do not need to install anything to use Cheers Bot, but make sure your version of VTube Studio is up to date.
    b VTube Studio is running but Cheers Bot says VTube Studio isn't connected?
    blockquote Make sure your version of VTube Studio is up to date, and make sure that you enable the "Plugin API" in the VTube Studio settings. You should be running VTube Studio on the same device that you have the Cheers Bot control panel and browser source overlay running on. The overlay <i>must</i> be running in OBS/Streamlabs OBS for VTube Studio to connect, as the overlay is the one actually connecting (unless you turn certain settings off). When the Cheers Bot tries to connect for the first time, you will get a popup in VTube Studio asking you to authorize the Cheers Bot. You must accept this popup to continue. If this still doesn't resolve the issue, try reloading the page and the browser source and trying again.
    b How do I add tags to my model, for color tinting?
    blockquote Ideally, your rigger will add your tags to your artmeshes in the Live2D Cubism editor when they rig your model. These should be typed into the \UserData\ field of each artmesh's properties as a space-separated list of tags, like \Hair Hair_Left Hair_Clip\. If you want to set up tags yourself and you don't have access to the original project files, you can generate the necessary userdata file using my <a href="http://hawk.bar/VTubeStudioTagger/">web-based tagging tool</a>. You'll need to generate a userdata3.json file from it and save it next to the rest of your model's files in the VTube Studio model folder. 

    h3#privacy Privacy and Security

    b Does the Cheers Bot store usernames, passwords, email addresses, or any other personal information?
    blockquote Only the bare minimum. The only identifying information that Cheers Bot stores permanently is a token made up of random letters and numbers generated by Twitch that allows it to connect to your channel. This token is also used when you log in to retrieve your Twitch username in order to determine which channels to associate with your account. While this token could theoretically be used to retrieve your email address, it is not stored or used anywhere, and could not be leaked to third parties. At no point is your password or other sensitive information accessed or saved anywhere.
    b Does the Cheers Bot use cookies or other forms of tracking?
    blockquote A cookie is used to keep you logged into Cheers Bot, and the app will not function without it. This cookie is only accessible to Cheers Bot, and is not shared with third parties. Some data such as error logs and page access times are stored by Cheers Bot in an anonymous fashion to assist me in resolving bugs. This data does not contain any personal information and is not shared with any third parties.
    b Do you sell ads or tracking data to third parties?
    blockquote I don't sell any ads or data at all, and I never will. The Cheers Bot is supported entirely through my personal income and through donations. Any data stored by Cheers Bot is solely used to enable functionality or resolve bugs and will never be shared with anyone else.
    b How do I 'uninstall' Cheers Bot?
    blockquote You can remove Cheers Bot's access to your account by <a href="https://www.twitch.tv/settings/connections">disconnecting it</a> from your Twitch account. This will prevent Cheers Bot from accessing any data relating to your account or channel and prevent it from taking any actions that could affect your account. However, this does not delete any data stored in Cheers Bot, such as your reward configurations, queued redeems, channel access settings, and so on. This data will be fully restored if you reconnect Cheers Bot to your account.
    b How do I delete ALL of my data from Cheers Bot?
    blockquote In compliance with the GDPR's right to erasure, I'll delete all data associated with your accounts if requested. Contact me on <a href="https://twitter.com/HawkbarGaming/">Twitter</a> or email me at <a href="mailto:gdpr@hawk.bar">gdpr@hawk.bar</a> and I'll process your deletion request within 72 hours. This is a manual process, so there is currently no way to do this yourself. Cheers Bot will still technically be connected to your account unless you disconnect it through your Twitch account settings, but it will no longer have the token needed to actually access or do anything.
