doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cheers Bot - #{channel}
        link(rel="stylesheet", href="/common.css")
        link(rel="stylesheet", href="/index.css")
        script(src="/react.development.js")
        script(src="/react-dom.development.js")
        script.
            let REFRESH_ID = #{refreshID}
        script(src=`/index.js?refresh=${refreshID}`)
    body
        main
            span Loading...