extends layout

block vars
    - title = 'Welcome to Cheers Bot!'

append head
    script(src="/react.development.js")
    script(src="/react-dom.development.js")
    script.
        var REFRESH_TIME = #{refreshTime};
    script(src=`/landing.js?refresh=${refreshTime}`)

block body
    #app
        span Loading...
